.addButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

.deleteButton {
    background-color:#f44336; /* Green */
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}

.selectStaff {
  padding: 6px 10px;
  /* border: none; */
  border-color: #4caf50;
  border-radius: 4px;
  background-color: #f1f1f1;
}
